.zone_info {
    color: #FFF;
    background-color: #000C;
    display: flex;
    width: min-content;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 12px;
    box-shadow: 0 0 32px 8px #0003;
    overflow:hidden;
}

.zone_info > img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 32px 8px #0008;
}

.zone_info > ul {
    margin: 0;
    padding-top: 16px;
    width: 200px;
}

.zone_info > ul > li {
    padding-bottom: 8px;
}

table > * {
    text-align: left;
}
